# Bytecode and cache
*.pyc
__pycache__/
*.pyo
*.pyd

# Testing and logs
*.log
logs/
test_logs/
.pytest_cache/

# Config and secrets
.env
*.yaml

# IDE/editor settings
.idea/
.vscode/

# Temporary files
*.tmp
*.bak
*.swp
*.swo

# Backup files
*.zip
*.tar
*.tar.gz
*.rar

# OS-specific
.DS_Store
Thumbs.db
